{% extends 'main.html'%}

{% block content %}
<h1> NEWS SECTION</h1>

<style>
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #CBC3E3;
  background-color: #CBC3E3;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #FFFFFF;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #FFFFFF;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>

<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Breaking News')" id="defaultOpen">Breaking News</button>
  <button class="tablinks" onclick="openCity(event, 'Club')">Club</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
   <button class="tablinks" onclick="openCity(event, 'Results')">Results</button>
    <button class="tablinks" onclick="openCity(event, 'Transfers')">Transfers</button>
</div>

<!-- Tab content -->
<div id="Breaking News" class="tabcontent">
  <h3>London</h3>
  <p>London is the capital city of England.</p>
</div>

<div id="Club" class="tabcontent">
  <h3>Paris</h3>
  <p>Paris is the capital of France.</p>
</div>

<div id="Tokyo" class="tabcontent">
  <h3>Tokyo</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>

<div id="Results" class="tabcontent">
  <h3>Tokyo</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>

<div id="Transfers" class="tabcontent">
  <h3>Tokyo</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>

<script>
function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
document.getElementById("defaultOpen").click();

</script>



{% endblock content %}