<h3>Browse Topics</h3>
		<hr>

		<div>
				<a href="{% url 'home' %}"> All</a> <br>
				<a href="{% url 'history'%}"> History</a> <br>
				<a href="{% url 'values'%}"> Values</a> <br>
				<a href="{% url 'news'%}"> News</a> <br>

		</div>

		{% for topic in topics %}
			<div>
				<a href="{% url 'home' %}?q={{topic.name}}" > {{topic.name}}</a>
			</div>
		{% endfor %}

		<hr>

		{% for fan in fans %}
			{% if request.user == fan.user %}
				<h1><>INSERT FAN FORM></h1>
			{% endif %}
		{% endfor %}